.nb-de-cas-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.mini-cards {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1rem 0;
  color: $dark;
  width: 300px;
  cursor: pointer;
  padding: 1rem;
  border-radius: 0 1rem 1rem 0;
  border-left: $blue 1rem solid;
  box-shadow: -3px -5px 10px 0px rgba(255, 255, 255, 0.3);
  animation: apparitionCards 1.2s ease-out;
  .nb {
    color: $primary;
    font-size: 3rem;
    font-weight: bolder;
  }
  p {
    text-align: center;
  }
}

.mini-card-img-container {
  width: 60%;
  img {
    width: 50%;
  }
}

.mini-cards-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  h3 {
    text-transform: uppercase;
  }
}
