header {
  background: $blue;
  height: 100vh;
  width: 100%;

  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: center;

  h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 2.3rem;
    margin-top: 1rem;

    line-height: 4rem;
  }
}
.naviguation {
  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
  margin-top: 10rem;

  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;

    li {
      font-size: 1rem;
      display: flex;
      justify-content: space-around;
      align-items: center;

      a {
        display: block;
        display: flex;
        flex-direction: column;

        position: relative;

        text-align: center;
        background-color: $green;
        margin: 0 1rem;
        padding: 1rem 0;
        border-radius: 2rem;
        &:active {
          transform: scale(0.98);
        }
        &:hover {
          color: $dark;
        }
        small {
          text-transform: uppercase;
          font-size: 0.67rem;
          position: absolute;
          bottom: 15%;
          text-align: center;
          left: 8%;
        }

        i {
          font-size: 2.6rem;
          position: relative;
          display: block;
          min-width: 60px;
          height: 60px;
          line-height: 60px;
          text-align: center;
        }
      }
    }
  }
}
