header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 4rem 0;
  background-color: rgba(179, 179, 179, 0.329);
  img {
    width: 100px;
    display: block;
  }
  p {
    font-size: 2rem;
  }

  h1 {
    color: $blue;
    text-transform: uppercase;
    font-size: 3rem;
    width: 90%;
    letter-spacing: 10px;
    transform: translateY(-40px);

    @include bigPhone-and-higher {
      font-size: 2rem;
      width: 90%;
    }
  }
}
