@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Muli", sans-serif;
  background-color: $dark;
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
}
li {
  list-style: none;
}
