// ----- Colors -----

$primary: #5c1e1e;
$orange: #ed6454;
$green: #68d9a4;
$blue: #7fa4e0;
$grey: #e7e7e7;
$dark: #1d1d1d;

// radius
$radius: 1rem;

// Responsive
$bigPhone: 29rem;
$tablet: 76.8rem;
$desktop: 120rem;

$page-max-width: 192rem;
