// ----- Colors -----

$primary: #ff3939;
$grey: #979899;
$green: #68d9a4;
$orange: #fd772a;
$blue: #7fa4e0;
$dark: #1d1d1d;

// radius
$radius: 1rem;

// Responsive
$bigPhone: 29rem;
$tablet: 76.8rem;
$desktop: 120rem;

$page-max-width: 192rem;
