@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Muli", sans-serif;
  background-color: #1d1d1d;
  color: white;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
}

li {
  list-style: none;
}

.naviguation {
  position: fixed;
  width: 60px;
  height: 100%;
  overflow: hidden;
  background-color: #7fa4e0;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  z-index: 9999;
}

.naviguation:hover,
.naviguation .active {
  width: 300px;
}

.naviguation .active {
  width: 300px;
}

.naviguation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.naviguation ul li {
  position: relative;
  width: 100%;
  font-size: 1.5rem;
}

.naviguation ul li:hover {
  background: #68d9a4;
  border-radius: 4px;
}

.naviguation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.naviguation ul li a i {
  font-size: 2.6rem;
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}

.title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

.toggle {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background: #7fa4e0;
  cursor: pointer;
}

.toggle::before {
  content: "\f0c9";
  font-family: fontAwesome;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  line-height: 60px;
  font-size: 2.6rem;
}

.toggle:hover::before {
  content: "\f00d";
  font-family: fontAwesome;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  line-height: 60px;
  font-size: 2.6rem;
}

.toggle:hover {
  color: #ff3939;
}

.naviguation.active {
  width: 300px;
}

@-webkit-keyframes grow {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@keyframes grow {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@-webkit-keyframes anim {
  100% {
    stroke-dashoffset: 184;
  }
}

@keyframes anim {
  100% {
    stroke-dashoffset: 184;
  }
}

header {
  background: #7fa4e0;
  height: 12vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header h1 {
  text-transform: uppercase;
}

@media screen and (max-width: 29rem) {
  header h1 {
    font-size: 0.8rem;
  }
}

header img {
  width: 20rem;
}

main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.active-cards {
  position: absolute;
  background-color: whitesmoke;
  border-radius: 5px;
  width: 100%;
  bottom: 0;
  right: 0;
  height: 50%;
  opacity: 0;
  cursor: pointer;
  -webkit-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out;
}

.active-cards:hover {
  opacity: 1;
}

.today-bilan-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.today-bilan-container .title {
  position: relative;
  text-transform: uppercase;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.today-bilan-container .title small {
  position: absolute;
  top: 4rem;
}

.container-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 29rem) {
  .container-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 60px;
  }
}

.today-bilan-cards {
  color: #1d1d1d;
  margin-top: 5rem;
  width: 200px;
  margin-right: 15px;
  background-color: white;
  padding: 2rem;
  border-radius: 5px;
  position: relative;
}

.today-bilan-cards img {
  width: 10rem;
  margin-bottom: 2rem;
}

.number {
  font-size: 3rem;
  color: #ff3939;
  font-weight: bolder;
}

vaccine-board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border: 2px solid #7fa4e0;
  -webkit-box-shadow: -5px -2px 15px -1px rgba(255, 255, 255, 0.705);
          box-shadow: -5px -2px 15px -1px rgba(255, 255, 255, 0.705);
  margin-top: 2rem;
  border-radius: 20px;
  padding: 3rem;
}

vaccine-board h2 {
  color: white;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
}

vaccine-board h3 {
  color: white;
  text-transform: uppercase;
  text-align: center;
}

vaccine-board h3 span {
  font-weight: bolder;
}

.vaccine-board {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 29rem) {
  .vaccine-board {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 25rem;
  }
}

.dose {
  color: #7fa4e0;
  font-size: 1rem;
  text-transform: uppercase;
}

circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  -webkit-animation: anim 2s linear forwards;
          animation: anim 2s linear forwards;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
}

.skill {
  margin-top: 4rem;
  width: 160px;
  height: 160px;
  margin-bottom: 4rem;
  position: relative;
}

.skill .outer {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  -webkit-box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
          box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  padding: 20px;
}

.skill .outer .inner {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2), inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7), -0.5px -0.5px 0px white, 0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.5);
          box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2), inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7), -0.5px -0.5px 0px white, 0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.5);
}

#number {
  font-weight: 600;
  font-size: 2rem;
  color: #7fa4e0;
}

.container-error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  height: 100vh;
}

.container-error a {
  border: 2px white solid;
  padding: 2rem;
  margin-top: 3rem;
  border-radius: 2rem;
}

.container-error a:hover {
  background-color: #7fa4e0;
  color: #1d1d1d;
  border: 2px #1d1d1d solid;
}

footer {
  font-size: 1.3rem;
  background-color: rgba(99, 99, 212, 0.226);
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 700px;
  line-height: 2.5rem;
  margin: auto;
  padding: 5rem;
}

.text p {
  -webkit-transform: translateX(5%);
          transform: translateX(5%);
  text-align: center;
  border: 3px solid #7fa4e0;
  padding: 50px;
  font-size: 1.6rem;
  border-radius: 20px;
  display: block;
  position: relative;
}

@media screen and (max-width: 29rem) {
  .title {
    font-size: 0.6rem;
    margin-left: 10rem;
  }
}

.container-vacc {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=main.css.map */