@import "./SASS/variables";
@import "./SASS/reset";
@import "./SASS/mixins";
@import "./SASS/naviguation";
@import "./SASS/animation";

header {
  margin-top: 15rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

  p {
    font-size: 2rem;
  }

  h1 {
    color: $dark;
    text-transform: uppercase;
    font-size: 4rem;
  }
}

.info-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;

  .question {
    font-size: 2rem;
    margin-bottom: 1rem;
    border: 2px solid $dark;
    border-radius: 5px;
    padding: 1rem;
  }
  .tel {
    color: $primary;
    font-size: 3rem;
    font-weight: bolder;
    span {
      color: $dark;
      font-size: 1.3rem;
    }
  }
  .emergency {
    margin-top: 2rem;
    font-size: 3.3rem;
    color: $primary;
    font-weight: bolder;
  }
}

.situation-today {
  background-color: $blue;
  padding: 3rem 1rem;
  border-radius: 2rem;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  h3 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
  }
}
.container-today {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.cadre-title {
  font-size: 2rem;
  i {
    margin-right: 5px;
  }
}

.cadre {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  width: 30%;
}

.nb-danger {
  color: $primary;
  font-size: 3rem;
  font-weight: 600;
}
