@import "./SASS/variables";
@import "./SASS/reset";
@import "./SASS/animation";
@import "./SASS/mixins";

@import "./SASS/header";
@import "./SASS/cards";

.title-section {
  color: $blue;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.6rem;
  margin-bottom: 2rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  animation: apparitionTitle 1s ease-out;
  h2 {
    text-align: center;
  }
  small {
    font-size: 1.5rem;
  }
}

#section-sannitaire {
  margin-top: 4rem;
  height: 85vh;
}
#section-statistiques {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}
#section-bilan-vaccinal {
  height: 100vh;
  display: flex;
  flex-direction: column;

  .pie-container {
    display: flex;

    align-items: center;

    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

#info {
  display: flex;
  height: 100vh;
  padding: 2rem;
  flex-direction: column;
  align-items: center;
  font-size: 1.3rem;
  p {
    text-align: center;
    margin: 2rem 0;
    a {
      display: block;
      margin: 1rem 0;
      i {
        margin-right: 1rem;
      }
    }
  }
}
.graph-container {
  width: 90%;
}

.graph {
  margin-top: 5rem;
}

footer {
  height: auto;
  background: rgba(88, 88, 175, 0.137);
  display: flex;
  flex-direction: column;

  align-items: center;
  padding: 1rem;

  font-size: 1rem;
  margin-top: 5rem;
  .footer-txt {
    margin: 20px 0;
    width: 100%;
    p {
      text-align: center;
      margin: 1rem 0;
    }
  }

  .footer-link {
    text-transform: uppercase;

    margin: 1rem 0;
    transition: all 0.4s ease-out;
    i {
      margin-right: 0.5rem;
    }
    &:hover {
      color: $green;
    }
  }
}

.big-title {
  margin-top: 2rem;
  letter-spacing: 1px;
  width: 80%;
  color: $blue;
  text-transform: uppercase;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 3rem;
  font-weight: bolder;
}
