*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "DM Sans", sans-serif;

  display: flex;
  flex-direction: column;
  margin: auto;
}

.container-global {
  margin: 3% 3%;
}
a {
  font-weight: 600;
}
li {
  list-style: none;
}

header {
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  padding: 20px;
  text-align: center;
}
h1 {
  width: 100%;
  font-family: Roboto;
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 1rem;
}
h2 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
h3 {
  font-size: 1.4rem;
}
img {
  height: auto;
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
}
.container-today {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
}
.situation {
  background-color: grey;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 3rem;
  color: aliceblue;
  padding: 2rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}

.link {
  display: flex;
  flex-direction: column;
}

.btn {
  margin: 1rem 0;
}
.cadre {
  background-color: darkgray;
  margin-top: 1rem;
  border-radius: 5px;
  width: 200px;
  padding: 1rem;
  font-size: 1rem;
}
i {
  margin-right: 0.3rem;
  font-size: 2rem;
}
.danger {
  color: red;
  font-weight: bolder;
  font-family: Roboto;
  margin-top: 1rem;
  font-size: 1.2rem;
}
.good {
  color: rgb(97, 211, 97);
  font-weight: bolder;
  font-family: Roboto;
  margin-top: 1rem;
  font-size: 1.2rem;
}

.btn {
  background-color: transparent;
  padding: 1rem;
  border-radius: 5px;
  border: 2px solid grey;
}

.btn:hover {
  background-color: grey;
  cursor: pointer;
  color: wheat;
}

.phone {
  font-size: 2rem;
  font-weight: bolder;
}
